<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Thông tin cá nhân</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a routerLink="/">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Thông tin cá nhân</p>
    </div>
  </div>
</div>
<div class="col-lg-10 container">
  <div class="mb-4">
    <div class="row">
      <ng-container [formGroup]="userDetailForm">
        <div class="col-md-6 form-group">
          <label>Họ và tên</label>
          <input class="form-control" [ngClass]="{
              'is-valid':
                userDetailForm.get('full_name')?.valid &&
                (userDetailForm.get('full_name')?.touched ||
                  userDetailForm.get('full_name')?.dirty),
              'is-invalid':
                !userDetailForm.get('full_name')?.valid &&
                (userDetailForm.get('full_name')?.touched ||
                  userDetailForm.get('full_name')?.dirty)
            }" type="text" formControlName="full_name" />
        </div>
        <div class="col-md-6 form-group">
          <label>Số điện thoại</label>
          <input class="form-control" type="text" disabled [value]="userDetailForm.get('phone_number')?.value" />
        </div>
        <div class="col-md-6 form-group">
          <label>Ngày sinh</label>
          <input class="form-control" type="date" [ngClass]="{
              'is-valid':
                userDetailForm.get('date_of_birth')?.valid &&
                (userDetailForm.get('date_of_birth')?.touched ||
                  userDetailForm.get('date_of_birth')?.dirty),
              'is-invalid':
                !userDetailForm.get('date_of_birth')?.valid &&
                (userDetailForm.get('date_of_birth')?.touched ||
                  userDetailForm.get('date_of_birth')?.dirty)
            }" formControlName="date_of_birth" />
        </div>
        <div class="col-md-6 form-group">
          <label>Địa chỉ</label>
          <input class="form-control" type="text" [ngClass]="{
              'is-valid':
                userDetailForm.get('address')?.valid &&
                (userDetailForm.get('address')?.touched ||
                  userDetailForm.get('address')?.dirty),
              'is-invalid':
                !userDetailForm.get('address')?.valid &&
                (userDetailForm.get('address')?.touched ||
                  userDetailForm.get('address')?.dirty)
            }" formControlName="address" />
        </div>
      </ng-container>
    </div>
    <div class="row d-flex justify-content-end">
      <button type="submit" class="col-lg-3 col-md-6 col-sm-6 login-button" style="justify-content: center"
        (click)="handleSubmit()">
        Cập nhật
      </button>
    </div>
  </div>
</div>