<!-- size home -->
<div class="container">
    <div style="display: flex; justify-content: space-between">
      <div>Danh sách size</div>
      <div style="cursor: pointer" >
        <i class="fa-solid fa-plus"></i>
        <span style="margin-left: 5px">Thêm</span>
      </div>
    </div>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Tên người dùng</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Tùy chọn</th>
          <th scope="col">Chọn nhanh</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">...</th>
          <td>...</td>
          <td>..</td>
          <td>..</td>
          <td>
            <input
              class="btn btn-primary btn-sm mr-1"
              type="button"
              value="Sửa"
            />
            <input
              class="btn btn-danger btn-sm"
              type="button"
              value="Xóa"
            />
          </td>
          <td>
            <input style="margin-left: 20px" type="checkbox" />
          </td>
        </tr>
      </tbody>
    </table>
    <div></div>
  </div>
  <!-- size home end -->
  