<!-- size home -->
<div class="container">
  <div style="display: flex; justify-content: space-between">
    <h3>Danh sách tài khoản</h3>
    <!-- <div style="cursor: pointer">
      <i class="fa-solid fa-plus"></i>
      <span style="margin-left: 5px">Thêm</span>
    </div> -->
    <form (submit)="searchUser()">
      <div class="input-group"><input type="text" placeholder="Tìm kiếm theo số điện thoại" (change)="onKeyWordChange($event)" class="form-control">
        <div class="input-group-append" (click)="searchUser()"><span class="input-group-text bg-transparent text-primary"><i
              class="fa fa-search"></i></span></div>
      </div>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Tên người dùng</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Tùy chọn</th>
        <th scope="col">Chọn nhanh</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of user; let i = index">
        <th scope="row">{{ i }}</th>
        <td>{{ user.user_id }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.full_name }}</td>
        <td *ngIf="user.is_active === false">Đang khóa <input class="btn btn-primary btn-sm mr-1" type="button"
            value="Unban" (click)="unban(user.user_id)"/> </td>
        <td *ngIf="user.is_active === true">Đang hoạt động <input class="btn btn-danger btn-sm mr-1" type="button"
            value="Ban" (click)="ban(user.user_id)" /> </td>
        <td>
          <input class="btn btn-primary btn-sm mr-1" type="button" value="Sửa" />
          <input class="btn btn-danger btn-sm" type="button" value="Xóa" />
        </td>
        <td>
          <input style="margin-left: 20px" type="checkbox" />
        </td>
      </tr>
    </tbody>
  </table>
  <ng-container *ngIf="user.length >= 1">
    <div class="col-12 pb-1">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-3">
          <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
            <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li *ngFor="
              let page of generateVisiblePageArray(currentPage, totalsPages)
            " class="page-item" [ngClass]="{ active: page === currentPage }">
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>
          <li class="page-item" [ngClass]="{ disabled: currentPage === totalsPages }">
            <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </ng-container>
</div>
<!-- size home end -->