<div class="menu">
  <ul class="ul_menu">
    <li class="li_menu"><a routerLink="/quan-ly">Trang chủ</a></li>
    <li class="li_menu"><a routerLink="/quan-ly/size">Size</a></li>
    <li class="li_menu"><a routerLink="/quan-ly/banner">Carousel</a></li>
    <li class="li_menu"><a routerLink="/quan-ly/category">Category</a></li>
    <li class="li_menu"><a routerLink="/quan-ly/product">Product</a></li>
    <li class="li_menu"><a routerLink="/quan-ly/user">User</a></li>
    <li class="li_menu"><a>Logout</a></li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
