<!-- edit size -->
<div class="container">
  <h3>Chỉnh sửa size</h3>
  <form [formGroup]="sizeForm">
    <div class="row justify-content-center align-items-center m-2 ">
      <label>Size name </label>
      <input class="form-control form-control-custom col-lg-6 ml-2" formControlName="size_name" type="text" >
     </div>
     <div class="row justify-content-center align-items-center  m-2 ">
      <label >Size code</label>
      <input class="form-control form-control-custom col-lg-6 ml-2" formControlName="size_code" type="text" >
     </div>
     <div class="row justify-content-center align-items-center m-2 ">
      <button [disabled]="!sizeForm.valid" *ngIf="sizeId" class="btn btn-primary ml-2" (click)="updateSize()">Cập nhật</button>
      <button  [disabled]="!sizeForm.valid" *ngIf="!sizeId" class="btn btn-primary ml-2" (click)="createSize()">Thêm</button>
      <button class="btn btn-danger ml-2" >Hủy</button>
     </div>
  </form>
</div>
<!-- edit size end -->
