<!-- category home -->
<div class="container">
    <div style="display: flex; justify-content: space-between">
      <h3>Danh sách danh mục</h3>
      <div style="cursor: pointer" (click)="createNavigate()">
        <i class="fa-solid fa-plus"></i>
        <span style="margin-left: 5px">Thêm</span>
      </div>
    </div>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ảnh category</th>
          <th scope="col">Tiêu đề</th>
          <th scope="col">Tùy chọn</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let category of categories, let i = index">
          <th scope="row">{{i+1}}</th>
          <td>
            <img *ngIf="category.thumbnail" style="height: 150px" [src]="category.thumbnail"/>
            <div *ngIf="!category.thumbnail">Chưa có ảnh</div>
          </td>
          <td><div style="">{{category.name}}</div></td>
          <td>
            <input class="btn btn-primary btn-sm mr-1"  type="button" value="Sửa" (click)="updateNavigate(category.id)" />
            <input class="btn btn-danger btn-sm" type="button" (click)="deleteCategory(category.id)" value="Xóa" />
          </td>
        </tr>
      </tbody>
    </table>
    <div></div>
  </div>
  <!-- category home end -->