<h3 (click)="homeNavigate()" class="nav-link" style="margin-top: 10px; margin-left: 10px; cursor: pointer">
  <i class="fa-solid fa-arrow-left"></i> Home
</h3>
<div class="container">
  <form [formGroup]="loginForm" (submit)="submitHandler()">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-form mx-auto">
          <h2 class="login-header">Đăng nhập</h2>
          <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="text" class="form-control" id="phone" formControlName="phone" [ngClass]="{
                'is-valid':
                  loginForm.get('phone')?.valid &&
                  (loginForm.get('phone')?.touched ||
                    loginForm.get('phone')?.dirty),
                'is-invalid':
                  !loginForm.get('phone')?.valid &&
                  (loginForm.get('phone')?.touched ||
                    loginForm.get('phone')?.dirty)
              }" />
          </div>
          <div class="form-group password-field">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{
                'is-valid':
                  loginForm.get('password')?.valid &&
                  (loginForm.get('password')?.touched ||
                    loginForm.get('password')?.dirty),
                'is-invalid':
                  !loginForm.get('password')?.valid &&
                  (loginForm.get('password')?.touched ||
                    loginForm.get('password')?.dirty)
              }" />
          </div>
          <div *ngIf="registrationMessage" [ngClass]="{ error: isError, success: !isError }">
            {{ registrationMessage }}
          </div>
          <div class="form-group">
            <div class="form-check checkbox-text">
              <span style="display: flex">
                <input type="checkbox" class="form-check-input" id="remember" />
                <label class="form-check-label text-start" for="remember">Ghi nhớ đăng nhập?</label>
              </span>
              <a class="register-link">Quên mật khẩu ?</a>
            </div>
          </div>
          <button type="submit" class="login-button">Đăng nhập</button>
          <div class="divider"></div>
          <p class="text-center">
            Bạn chưa có tài khoản ?
            <span><a routerLink="/dang-ki" class="register-link">Tạo tài khoản</a></span>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>